extends ../layout.pug 

block content
  h4 Change Title of #{video.title}
  form(method="POST" action=`/videos/${video.id}/edit`)
    input(type="text" name="title" minlength=8 maxlength=16  placeholder="Video Title" value=video.title required)
    input(type="text" maxlength=24 name="description" placeholder="Description" value=video.description required)
    input(type="text" name="hashtags" placeholder="Hashtags, separated by comma" value=video.hashtags.join() required)
    input(type="submit" value="Save")