extends ../layout.pug 

block content
  if video.videoUrl
    video(src=`/${video.videoUrl}` controls width="100%")
  div
    p=video.description
    small=video.createdAt
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/remove`) Delete Video &rarr;
