extends ../layout.pug 

block content
  if video.videoUrl
    video(src=`/${video.videoUrl}` controls width="100%")
  div
    p=video.description
    small=video.createdAt
  div
    if String(video.owner._id) === String(user._id)
      small Uploaded by 
        a(href=`/user/${video.owner._id}`) #{video.owner.userid}
    else 
      small Uploaded by #{video.owner.userid}
  if String(video.owner._id) === String(user._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/remove`) Delete Video &rarr;
